<style>
.hover-ic {
    font-size:32px;
}

</style>
<!-- Breadcomb area Start-->
<div class="breadcomb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="breadcomb-list">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="breadcomb-wp">
								<div class="breadcomb-icon">
									<i class="notika-icon notika-app animated infinite flip"></i>
								</div>
								<div class="breadcomb-ctn">
									<h2>Groupmenu</h2>
									<p>Add / Edit / Delete</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
							<div class="breadcomb-report">
								<button id="tikClock" data-toggle="tooltip" data-placement="left" title="" class="btn">
									<i class="fa fa-clock-o"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcomb area End-->
<!-- Main area Start-->
<div class="colr-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="color-wrap">
					<div class="color-hd">
						<div class="x_content">
							<div class="cssload-loader">Please Wait</div>
							<div id="dtableDiv" style="display:none;">
								<table id="datatable-responsive"
									class="table table-striped table-bordered table-hover dt-responsive wrap"
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th width="1%"></th>
											<th width="2%" class="text-center">NO</th>
											<th width="32%">NAMA</th>
											<th width="35%">ICON</th>
											<th width="10%">URUT</th>
											<th width="10%">STATUS</th>
											<th width="10%" class="all">ACTION</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main area End-->
<!-- #region modal -->
<div class="modal fade formEditorModal" data-backdrop="static" role="dialog" aria-hidden="true">
	<div class="modal-dialog modals-default">
		<div class="modal-content">
			<div class="modal-header form-group-15">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">New Groupmenu</h4>
			</div>
			<div class="modal-body">
				<form id="formEditor" data-parsley-validate class="form-horizontal form-label-left">
					<div class="form-group-15">
						<label>Nama <span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="nama" placeholder="Nama" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Icon <span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="icon" placeholder="Icon" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Urut <span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="number" class="form-control input-sm" name="urut" placeholder="Urut" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Status <span class="required">*</span></label>
						<div class="nk-int-st">
							<div class="toggle-select-act fm-cmp-mg">
								<div class="nk-toggle-switch">
									<input id="aktif" name="aktif" type="checkbox" hidden="hidden" value="0">
									<label for="aktif" class="ts-helper"></label>
									<label class="lbSwitch">DISABLED</label>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn_save btn btn-default notika-btn-default waves-effect" data-loading-text="Loading...">
					<i class="fa fa-save"></i> Save
				</button>
				<button type="button" class="btn_cancel btn btn-danger notika-btn-danger waves-effect" data-dismiss="modal">
					<i class="fa fa-times"></i> Close
				</button>
			</div>
		</div>
	</div>
</div>
<!-- #endregion modal -->
<!-- #region modal3 icon -->
<div class="modal fade iconModal" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header form-group-15">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">List of Notika Icon (62)</h4>
            </div>
            <div class="modal-body">
                <div class="color-wrap" style="min-height:275px">
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-menu-befores"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-menu-before"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-menu-after"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-menu-sidebar"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-skype"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-app"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-form"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-windows"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-bar-chart"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-alarm"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-arrow-right"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-avable"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-back"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-calendar"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-chat"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-checked"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-close"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-cloud"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-credit-card"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-dollar"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-dot"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-down-arrow"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-draft"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-edit"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-eye"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-facebook"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-file"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-finance"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-flag"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-house"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-ip-locator"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-left-arrow"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-mail"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-map"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-menu"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-menus"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-minus-symbol"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-more-button"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-next"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-next-pro"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-paperclip"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-phone"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-promos"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-refresh"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-right-arrow"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-search"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-sent"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-settings"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-social"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-star"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-success"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-support"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-tax"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-trash"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-picture"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-pinterest"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-up-arrow"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-wifi"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-travel"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-twitter"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-plus-symbol"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="klik-icon">
                                <h2>
                                    <i class="hover-ic notika-icon notika-print"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion modal3 icon -->