<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-house animated infinite flip"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Home</h2>
                                    <p>{{ "now"|date("d F Y", "Europe/Paris") }} <span class="bread-ntd">Admin Template</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button id="tikClock" data-toggle="tooltip" data-placement="left" title="" class="btn">
                                    <i class="fa fa-clock-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Color area Start-->
<div class="colr-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="color-wrap" style="min-height:275px">
                    <div class="color-hd">
                        <h2>Icon List</h2>
                        <p>List of Notika Icon</p>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-menu-befores" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-menu-befores</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-menu-before" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-menu-before</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-menu-after" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-menu-after</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-menu-sidebar" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-menu-sidebar</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-skype" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-skype</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-app" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-app</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-form" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-form</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-windows" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-windows</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-bar-chart" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-bar-chart</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-alarm" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-alarm</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-arrow-right" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-arrow-right</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-avable" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-avable</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-back" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-back</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-calendar" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-calendar</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-chat" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-chat</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-checked" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-checked</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-close" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-close</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-cloud" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-cloud</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-credit-card" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-credit-card</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-dollar" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-dollar</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-dot" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-dot</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-down-arrow" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-down-arrow</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-draft" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-draft</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-edit" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-edit</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-eye" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-eye</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-facebook" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-facebook</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-file" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-file</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-finance" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-finance</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-flag" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-flag</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-house" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-house</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-ip-locator" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-ip-locator</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-left-arrow" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-left-arrow</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-mail" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-mail</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-map" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-map</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-menu" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-menu</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-menus" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-menus</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-minus-symbol" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-minus-symbol</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-more-button" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-more-button</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-next" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-next</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-next-pro" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-next-pro</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-paperclip" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-paperclip</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-phone" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-phone</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-picture" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-picture</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-pinterest" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-pinterest</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-plus-symbol" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-plus-symbol</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-print" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-print</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-promos" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-promos</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-refresh" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-refresh</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-right-arrow" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-right-arrow</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-search" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-search</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-sent" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-sent</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-settings" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-settings</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-social" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-social</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-star" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-star</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-success" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-success</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-support" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-support</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-tax" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-tax</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-trash" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-trash</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-travel" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-travel</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-twitter" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-twitter</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-up-arrow" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-up-arrow</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="color-single nk-deep-purple">
                                <h2>
                                    <i class="notika-icon notika-wifi" style="font-size:42px;"></i>
                                </h2>
                                <span>notika-icon notika-wifi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Color area End-->