<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-app animated infinite flip"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>User</h2>
                                    <p>Add / Edit / Delete</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button id="tikClock" data-toggle="tooltip" data-placement="left" title="" class="btn">
                                    <i class="fa fa-clock-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Main area Start-->
<div class="colr-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="color-wrap">
                    <div class="color-hd">
                        <div class="x_content">
                            <div class="cssload-loader">Please Wait</div>
                            <div id="dtableDiv" style="display:none;">
                                <div class="row margin-bt-20">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="nk-int-mk sl-dp-mn">
                                            <h2>Filter Role</h2>
                                        </div>
                                        <span style="margin-left: 10px;">
                                            <i class="fa fa-spinner fa-spin"></i> Please wait...
                                        </span>
                                        <div class="chosen-select-act fm-cmp-mg" style="display:none;">
                                            <select id="fm_jabatan" name="fm_jabatan" class="chosen m_jabatan">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <table id="datatable-responsive"
                                    class="table table-striped table-bordered table-hover dt-responsive wrap"
                                    cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="1%"></th>
                                            <th width="2%" class="text-center">NO</th>
                                            <th width="15%">NAMA</th>
                                            <th width="7%">USERNAME</th>
                                            <th width="10%">EMAIL</th>
                                            <th>IDJABATAN</th>
                                            <th width="10%">TELEPON</th>
                                            <th width="10%">ROLE</th>
                                            <th width="10%">LAST LOGIN</th>
                                            <th width="8%" class="all">ACTION</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main area End-->
<!-- #region modal -->
<div class="modal fade formEditorModal" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header form-group-15">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New User</h4>
            </div>
            <div class="modal-body">
                <form id="formEditor" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group-15">
                        <label>Nama <span class="required">*</span></label>
                        <div class="nk-int-st">
                            <input type="text" class="form-control input-sm" type="text" name="nama" required="required"
                                data-parsley-group="role" placeholder="Benedict Erwin">
                        </div>
                    </div>
                    <div class="form-group-15">
                        <label>Email <span class="required">*</span></label>
                        <div class="nk-int-st">
                            <input type="email" class="form-control input-sm" type="text" name="email" required="required"
                                data-parsley-group="role" placeholder="your@mail.domain">
                        </div>
                    </div>
                    <div class="form-group-15">
                        <label>Jabatan <span class="required">*</span></label>
                        <div class="nk-int-st">
                            <span style="margin-left: 10px;"><i class="fa fa-spinner fa-spin"></i> Please wait...</span>
                            <div class="chosen-select-act fm-cmp-mg" style="display:none;">
                                <select id="idjabatan" name="idrole" class="chosen idjabatan"
                                    required="required" data-parsley-group="role"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-15">
                        <label>Telephone <span class="required">*</span></label>
                        <div class="nk-int-st">
                            <input type="tel" class="form-control input-sm" type="text" name="telpon" required="required"
                                data-parsley-group="role" placeholder="081000000000">
                        </div>
                    </div>
                    <div class="form-group-15">
                        <label>Username <span class="required">*</span></label>
                        <div class="nk-int-st">
                            <input type="text" class="form-control input-sm" type="text" name="username" required="required" autocomplete="username" data-parsley-group="role" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group-15">
                        <label>Password <span class="required">*</span></label>
                        <div class="nk-int-st">
                            <input type="password" class="form-control input-sm" type="text" name="password" required="required" autocomplete="current-password" data-parsley-group="role" placeholder="Password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_save btn btn-default notika-btn-default waves-effect"
                    data-loading-text="Loading...">
                    <i class="fa fa-save"></i> Save
                </button>
                <button type="button" class="btn_cancel btn btn-danger notika-btn-danger waves-effect"
                    data-dismiss="modal">
                    <i class="fa fa-times"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion modal -->