<!-- User Profile Modal -->
<div aria-hidden="true" class="modal fade formModalEditProfile" data-backdrop="static" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header form-group-15">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4>Profil</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left" data-parsley-validate id="formModalEditProfile">
                    <div class="form-group-15">
                        <label>Nama
                            <span class="required">*</span>
                        </label>
                        <div class="nk-int-st">
                            <input class="form-control input-sm" data-parsley-group="role" name="fp_nama" placeholder="Benedict Erwin" required="required" type="text" type="text">
                        </div>
                    </div>
                    <div class="form-group-15">
                        <label>Email
                            <span class="required">*</span>
                        </label>
                        <div class="nk-int-st">
                            <input class="form-control input-sm" data-parsley-group="role" name="fp_email" placeholder="your@mail.domain" required="required" type="email" type="text">
                        </div>
                    </div>
                    <div class="form-group-15">
                        <label>Telephone
                            <span class="required">*</span>
                        </label>
                        <div class="nk-int-st">
                            <input class="form-control input-sm" data-parsley-group="role" name="fp_telpon" placeholder="081000000000" required="required" type="tel" type="text">
                        </div>
                    </div>
                    <div class="form-group-15">
                        <label>Username</label>
                        <div class="nk-int-st">
                            <input autocomplete="username" class="form-control input-sm" disabled name="fp_username" placeholder="Username" readonly type="text" type="text">
                        </div>
                    </div>
                    <div class="form-group-15">
                        <label>Role</label>
                        <div class="nk-int-st">
                            <input class="form-control input-sm" disabled name="fp_role" readonly type="text" type="text">
                        </div>
                    </div>
                    <div class="form-group-15">
                        <div class="ic-cmp-int">
                            <div class="form-ic-cmp" id="show_password" style="cursor: pointer;" title="Tampilkan Password">
                                <i class="glyphicon glyphicon-eye-close"></i>
                            </div>
                            <div class="nk-int-st">
                                <input autocomplete="current-password" class="form-control input-sm" data-parsley-group="role" id="fp_password" name="fp_password" placeholder="Password" style="padding-left: 5px;" type="password">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn_save_profile btn btn-default notika-btn-default waves-effect" data-loading-text="Loading..." type="button">
                    <i class="fa fa-save"></i>
                    Update
                </button>
                <button class="btn_cancel btn btn-danger notika-btn-danger waves-effect" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End User Profile -->
