<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-house animated infinite flip"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Home</h2>
                                    <p>{{ "now"|date("d F Y", "Europe/Paris") }} <span class="bread-ntd">Admin Template</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button id="tikClock" data-toggle="tooltip" data-placement="left" title="" class="btn">
                                    <i class="fa fa-clock-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Color area Start-->
<div class="colr-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="color-wrap" style="min-height:275px">
                    <div class="color-hd">
                        <h2>Welcome Home :)</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Color area End-->